.footer {
  background-color: $black;
  padding:5rem 3rem 2rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  >*{flex-grow: 1; flex-shrink: 0;}

  ul li{
    padding:1rem;
    a img{height: 200px; float: right}
  }
}
.footer-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socials{
  img{width:2rem;margin-right:10px;}
}

.copyright{
  background: $black;
  text-align: right;
  padding: 1rem 3rem;
}