header nav{
    height: 3rem;
    padding:1.5rem 3rem;
    background-color:$grey;
    color:$white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $white;
    font-family: $header-font;
    .cta-button{background: $highlight;}
    ul{
      padding: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      li a {
        padding: .5rem 1rem;
        &:hover{opacity: 0.5;}
      }
      li:last-of-type{margin-left: 15px;}
    }
  }

.client-header {
  display: grid;
  grid-template-rows: auto minmax(75vh, 1fr);
}

.logo-con{
  display: flex;
  width: 10vw;
  min-width: 80px;
  max-width:250px;
  transition: all 500ms ease-in-out;

  &.shrink{width:10vw;}

  img {
    width: 100%;
  }
}

.landing {
  display: grid;
  grid-template-columns: 33vw 1fr 50vw;

  .landing-img{
    grid-area: 1/2/1/4;
    background-size: cover;
    z-index: 0;
    overflow: hidden;
    &.junior {background: url(../images/junior_hero.jpg) center;}
    &.adult {background: url(../images/ref_training.jpg) left center;}
    &.about {background: url(../images/skates_hero.jpg) center;}
  }

  .landing-info{
    min-width: 360px;
    grid-area: 1/1/1/3;
    background: $highlight;
    padding: 4rem 30% 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);

    h2{@include headerFont(3.5rem, false, i); font-weight: 700;}
    .dark-text{color:$grey;}
    .big-text{font-size: 5rem;}
    p{margin: 1rem 0;}
  }
}

.scene {
  grid-area: 1/2/1/4;
  background: url(../images/rink.jpg) top;
  background-size: cover;
  z-index: 0;
  overflow: hidden;

  .character{
    position: relative;
    width: 100%;
    height: 100%;

    img{
      background-color: $highlight;
      position: absolute;
    }

    .char1{
      width: 200px;
      height: 300px;
      bottom: 5%;
      right: 38%;
    }
    .char2{
      width: 150px;
      height: 250px;
      bottom: 10%;
      right: 15%;
    }
    .char3{
      width: 125px;
      height: 200px;
      bottom: 20%;
      right: 60%;
    }

  }
}
