.brief-con{
    min-height:50vh;
    padding: 3rem;

    background-image: url(../images/ref_banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .brief-info{
        width:66%;
        p{margin: 1.5rem 0;}
        .cta-button{background: $highlight;}
    }
}

.partner-con{
    background-image: url(../images/quote_banner.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;

    padding:3rem;
    min-height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
    .partner-img-con{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        img{
            max-height:100px;
            max-width: 200px;
            padding: 1rem;
        }
    }

