.brief-con{
    min-height:50vh;
    padding: 3em;
    background-image: url(../images/icebg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &:nth-of-type(even){background-image: url(../images/icebgR.jpg);background-position: right;}
}

.brief-info{
    width: 40%;
    p{margin: 1em 0}
}

.brief-img-con{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    img{max-height:100px; max-width: 200px;}
}

.member-con{
    background: $black;
    min-height:50vh;
    display: grid;
    grid-template-columns: 30% 1fr 1fr 30%;

    .angle-img{

    }

    .member-info{
        background: $highlight;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{margin: 1em 0}
        .cta-button{background:$black;}
    }
    .adult{
        grid-area: 1/1/1/3;
        padding: 0 30% 0 3em;
        clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
    }

    .junior{
        grid-area: 1/3/1/5;
        padding: 0 3em 0 30%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
    }
}

