.hidden {
    display: none !important;
}

body {
    margin: 0;
    padding: 0;
    max-width:2000px;
    min-width: 325px;
}

main{width:100%}

h2{@include headerFont();}

p, a{@include copyFont();}

.cta-button{
    display: flex;
    flex-grow: 0;
    border-radius: $rad;
    @include blackGradient();
    width: max-content;
    a{padding: .5rem 2rem;}
}

.highlight {
    color: $highlight;
}

@media screen and (max-width:500px){
    h2{font-size:2.5rem;}
}