.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    max-width:2000px;
}

h2{
    font-family: $header-font;
    font-size: $header-size;
    color: $white;
}

p{
    color:$white;
    font-family: $copy-font;
    font-size:$copy-size;
}

a{
    color:$white;
    font-family: $copy-font;
    font-size:$copy-size;
}

ul {
    margin: 0;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;

    li a {
        color: inherit;
        text-decoration: none;
        padding: 10px;

        &:hover {
          opacity: 0.5;
        }
    }
}

.cta-button{
  display: flex;
  width:fit-content;
  border-radius: $rad;
  background: $highlight;
  a{padding: .5em 2em ;}
}

.highlight {
    color: $highlight;
}