.partner-con{
    background: url(../images/ref_banner3.jpg) no-repeat center /cover fixed;
    padding:3rem;
    min-height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.partner-img-con{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    img{
        max-height:100px;
        max-width: 200px;
        padding: 2rem 1rem;
    }
}

